In [1]:
import json
import pandas as pd

with open("./MongoDB/dictionary.json", "r", encoding="utf-8") as f:
    dic_data = json.load(f)

print(dic_data[0])

{'_id': {'$oid': '60537a294bd3b119b8b12c33'}, 'corpus': 'Afghanistan', 'official_name': 'the Islamic Republic of Afghanistan', 'iso3': 'AFG', 'Iso2': 'AF', 'uni': 4, 'undp': 'AFG', 'faostat': 2, 'gaul': 1, 'entity': 'LOCATION', 'category': 'location-country'}

In [2]:
with open("./MongoDB/entity.json", "r", encoding="utf-8") as f:
    entity_data = json.load(f)

print(entity_data[0])

{'_id': {'$oid': '60534d7b1b792af8aaa87c0e'}, 'entity': 'ATTACK-METHOD', 'regexr': False, 'discription': 'Attack Pattern + Tactics + Techniques'}

In [3]:
print("Total Entities :", len(entity_data))
print("Total Corpus :", len(dic_data))

Total Entities : 18
Total Corpus : 228916

In [4]:
entity_cnt = {}
total_cnt = 0
for i in dic_data:
    total_cnt += 1
#     print(i['corpus'])
#     print(i['category'])
    try:
        entity_cnt[i['entity']] += 1
    except:
        entity_cnt[i['entity']] = 1
print(entity_cnt)

{'LOCATION': 22567, 'THREAT-ACTOR': 212, 'MITIGATION': 82, 'null': 168, 'VULNERABILITY': 205713, 'WIN-REG-KEY': 148, 'HASH': 26}

In [5]:
category_cnt = {}
total_cnt = 0
for i in dic_data:
    total_cnt += 1
    #     print(i['corpus'], i['category'])
    try:
        category_cnt[i['category']] += 1
    except:
        category_cnt[i['category']] = 1
print(category_cnt)

{'location-country': 195, 'mitre-groups': 212, 'mitre-mitigations': 82, 'ceo': 32, 'filename-extensions': 136, 'cve-ver-20061101': 205713, 'registry': 148, 'hash-md5': 7, 'hash-sha256': 16, 'hash-sha1': 3, 'location-city': 22372}

In [6]:
import pandas as pd

entity_df = pd.DataFrame(list(entity_cnt.items()),
                           columns=['ENTITY', 'COUNT'])

entity_df

          ENTITY   COUNT
0       LOCATION   22567
1   THREAT-ACTOR     212
2     MITIGATION      82
3           null     168
4  VULNERABILITY  205713
5    WIN-REG-KEY     148
6           HASH      26

In [7]:
import pandas as pd

category_df = pd.DataFrame(list(category_cnt.items()),
                           columns=['CATEGORY', 'COUNT'])

category_df

               CATEGORY   COUNT
0      location-country     195
1          mitre-groups     212
2     mitre-mitigations      82
3                   ceo      32
4   filename-extensions     136
5      cve-ver-20061101  205713
6              registry     148
7              hash-md5       7
8           hash-sha256      16
9             hash-sha1       3
10        location-city   22372